{% load static %}


{% include "_includes/header.html" %}

	<header>

		<span><a style="text-decoration: none; color: white" href="">MISS MY PET</a></span>

		<input type="checkbox" id="login-show">
        <input type="checkbox" id="register-show">
		<h2><label for="login-show" class="show-login-button">Login</label> | <label for="register-show" class="show-register-button">Register</label></h2>
		<div class="login-container">
			<label for="login-show" class="close-button" title="close">x</label>
			<div class="text-login">Login</div>
			<form name="login_form" id="login_form" method="post" action="/user/login">
				<div class="data">
					<label>Email</label>
					<input name="login_email" id="login_email" type="text" required>
				</div>
				<div class="data">
					<label>Password</label>
					<input name="login_password" id="login_password" type="password" required>
				</div>
				<div class="login-button">
					<div class="inner"></div>
					<button name="login_button" id="login_button" type="submit">Login</button>
				</div>
				<!--div class="signup-link">
					Not a member? <a href="#">Register now</a>
				</div-->
			</form>
		</div>

        <div class="register-container">
			<label for="register-show" class="close-button" title="close">x</label>
			<div class="text-register">Registration</div>
			<form name="register_form" id="register_form" method="post" action="/user/registrration">
				<div class="data">
					<label>Email</label>
					<input name="register_email" id="register_email" type="text" required>
				</div>
				<div class="data">
					<label>Password</label>
					<input name="register_pass" id="register_pass" type="password" required>
				</div>
                <div class="data">
					<label>Confirm password</label>
					<input name="register_pass2" id="register_pass2" type="password" required>
				</div>
				<div class="register-button">
					<div class="inner"></div>
					<button name="register_button" id="register_button" type="submit">Register</button>
				</div>
			</form>
		</div>

	</header>

<div class="slideshow-container">
    <div class="mySlides slideshow-fade">
      <img src="{% static 'images/1.jpg'%}" style="width:100%" alt="1">
      <div class="slideshow-text">Lost...</div>
    </div>

    <div class="mySlides slideshow-fade">
      <img src="{% static 'images/2.jpg'%}" style="width:100%" alt="2">
      <div class="slideshow-text">Found!</div>
    </div>

    <div class="mySlides slideshow-fade">
      <img src="{% static 'images/3.jpg'%}" style="width:100%" alt="3">
      <div class="slideshow-text">Happy :)</div>
    </div>

        <div class="mySlides slideshow-fade">
      <img src="{% static 'images/4.jpg'%}" style="width:100%" alt="1">
      <div class="slideshow-text">Lost...</div>
    </div>

    <div class="mySlides slideshow-fade">
      <img src="{% static 'images/5.jpg'%}" style="width:100%" alt="2">
      <div class="slideshow-text">Found!</div>
    </div>

    <div class="mySlides slideshow-fade">
      <img src="{% static 'images/6.jpg'%}" style="width:100%" alt="3">
      <div class="slideshow-text">Happy :)</div>
    </div>
</div>

<br>

<div style="text-align:center">
  <span class="slideshow-dot"></span>
  <span class="slideshow-dot"></span>
  <span class="slideshow-dot"></span>
    <span class="slideshow-dot"></span>
    <span class="slideshow-dot"></span>
    <span class="slideshow-dot"></span>
</div>

<script>
    let slideIndex = 0;
    showSlides();

function showSlides() {
    let i;
    let slides = document.getElementsByClassName("mySlides");
    let dots = document.getElementsByClassName("slideshow-dot");
    for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
    }
    slideIndex++;
    if (slideIndex > slides.length) {
        slideIndex = 1
    }
    for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex - 1].style.display = "block";
    dots[slideIndex - 1].className += " active";
    setTimeout(showSlides, 3000); // Change image every 2 seconds
}

/*const submit_login = document.getElementById('login_button');

submit_login.addEventListener("click", function(e) {
  // prevent form from being submitted
  e.preventDefault();

  const email = document.getElementById('login_email');
  const pass = document.getElementById('login_password');

  if (email.value !== '' && pass.value !== '') {
    window.location = "/user/account.html";
  }
  else {
      alert("You should fill all fields!");
  }
});

const submit_register = document.getElementById('register_button');

submit_register.addEventListener("click", function(e) {
  // prevent form from being submitted
  e.preventDefault();

  const email = document.getElementById('register_email');
  const pass = document.getElementById('register_pass');
  const pass2 = document.getElementById('register_pass2');

  if (email.value !== '' && pass.value !== '' && pass2.value !== '') {
    window.location = "";
  }
  else {
      alert("You should fill all fields!");
  }
});*/

</script>

{% include "_includes/footer.html" %}