{% load static %}


{% include "_includes/header_main_page.html" %}

	<header>

		<span><a style="text-decoration: none; color: white" href="">MISS MY PET</a></span>

        <!-- TODO: disable background, when login/registration form is shown -->

		<input type="checkbox" id="login-show">
        <input type="checkbox" id="register-show">

		<h2><label for="login-show" class="show-login-button">Login</label> | <label for="register-show" class="show-register-button">Register</label></h2>
		<div class="login-container" id="login-container">
			<label for="login-show" class="close-button" title="close">x</label>
			<div class="text-login">Login</div>
				<form name="login_form" id="login_form" method="post" action="/">

					{% csrf_token %}

					<input name="form_type" id="form_type" type="hidden" value="login"/>

					<div class="data">
						<label>Email or Login</label>
						<input name="login_email" id="login_email" type="text" required>
					</div>
					<div class="data">
						<label>Password</label>
						<input name="login_password" id="login_password" type="password" required>
					</div>
					<div class="error" id="login-error">
						Wrong login or password
					</div>
					<div class="login-reg-button">
						<div class="inner"></div>
						<button name="login_button" id="login_button" type="submit">Login</button>
					</div>
					<!--div class="signup-link">
						Not a member? <a href="#">Register now</a>
					</div-->
				</form>
		</div>

        <div class="register-container" id="register-container">
			<label for="register-show" class="close-button" title="close">x</label>
			<div class="text-register">Registration</div>
			<form name="register_form" id="register_form" method="post" action="/">

                {% csrf_token %}

                <input name="form_type" id="form_type" type="hidden" value="registration"/>

                <div class="data">
					<label>Email</label>
					<input name="register_email" id="register_email" type="text" required>
				</div>
				<div class="data">
					<label>Login</label>
					<input name="register_name" id="register_name" type="text" required>
				</div>
                <div class="data">
					<label>Password</label>
					<input name="register_pass" id="register_pass" type="password" required>
				</div>
                <div class="data">
					<label>Confirm password</label>
					<input name="register_pass2" id="register_pass2" type="password" required>
				</div>
                <div class="error" id="register-error">
                    Registration failed. Try again
                </div>
                <div class="error" id="passwords-error">
                    Passwords don't match
                </div>
				<div class="login-reg-button">
					<div class="inner"></div>
					<button name="register_button" id="register_button" type="submit">Register</button>
				</div>
			</form>
		</div>
	</header>


	<div class="slideshow-container">
		<div class="slides slideshow-fade">
			<img src="{% static 'images/1.jpg'%}" style="width:100%" alt="1">
			<div class="slideshow-text">Lost...</div>
		</div>

		<div class="slides slideshow-fade">
			<img src="{% static 'images/2.jpg'%}" style="width:100%" alt="2">
			<div class="slideshow-text">Found!</div>
		</div>

		<div class="slides slideshow-fade">
			<img src="{% static 'images/3.jpg'%}" style="width:100%" alt="3">
			<div class="slideshow-text">Happy :)</div>
		</div>

		<div class="slides slideshow-fade">
			<img src="{% static 'images/4.jpg'%}" style="width:100%" alt="4">
			<div class="slideshow-text">Lost...</div>
		</div>

		<div class="slides slideshow-fade">
			<img src="{% static 'images/5.jpg'%}" style="width:100%" alt="5">
			<div class="slideshow-text">Found!</div>
		</div>

		<div class="slides slideshow-fade">
			<img src="{% static 'images/6.jpg'%}" style="width:100%" alt="6">
			<div class="slideshow-text">Happy :)</div>
		</div>
	</div>

    <br>

	<div style="text-align:center">
		<span class="slideshow-dot"></span>
		<span class="slideshow-dot"></span>
		<span class="slideshow-dot"></span>
		<span class="slideshow-dot"></span>
		<span class="slideshow-dot"></span>
		<span class="slideshow-dot"></span>
	</div>

	<script>
		let js_user_not_exists = "{{user_not_exists}}";
		let js_reg_failed = "{{registration_failed}}";
		let js_pass_not_match = "{{pass_not_match}}";

		/* DON'T TOUCH THIS COMPARISON, EVEN IF IDE SAYS IT'S WRONG */
		if (js_user_not_exists != false) {
			document.getElementById("login-container").style.display = 'block'; // 'block' means show this element in container
			document.getElementById("login-error").style.display = 'block'; // 'block' means show this element in container
			js_user_not_exists = false;
		}

		/* DON'T TOUCH THIS COMPARISON, EVEN IF IDE SAYS IT'S WRONG */
		if (js_reg_failed != false) {
			document.getElementById("register-container").style.display = 'block'; // 'block' means show this element in container
			document.getElementById("register-error").style.display = 'block'; // 'block' means show this element in container
			js_reg_failed = false;
		}

		/* DON'T TOUCH THIS COMPARISON, EVEN IF IDE SAYS IT'S WRONG */
		if (js_pass_not_match != false) {
			document.getElementById("register-container").style.display = 'block'; // 'block' means show this element in container
			document.getElementById("passwords-error").style.display = 'block'; // 'block' means show this element in container
			js_pass_not_match = false;
		}

		/* ----------------- SLIDESHOW ----------------- */

		let slideIndex = 0;
		showSlides();

		function showSlides() {
			let i;
			let slides = document.getElementsByClassName("slides");
			let dots = document.getElementsByClassName("slideshow-dot");

			for (i = 0; i < slides.length; i++) {
				slides[i].style.display = "none";
			}
			slideIndex++;
			if (slideIndex > slides.length) {
				slideIndex = 1
			}

			for (i = 0; i < dots.length; i++) {
				dots[i].className = dots[i].className.replace(" slideshow-active-dot", "");
			}

			slides[slideIndex - 1].style.display = "block";
			dots[slideIndex - 1].className += " slideshow-active-dot";
			setTimeout(showSlides, 3000); // Change image every 3 seconds
		}

	</script>

{% include "_includes/footer.html" %}