{%  load static %}

{% include "_includes/header.html" %}

	<div id="header">
        <span>Create/edit announcement</span>
        {% include "_includes/logout.html" %}
    </div>

<div class="container">
    <div class="row">

        {% include "_includes/user_panel.html" %}

       <div class="cell central-panel" id="page-content">

            <div class="form-inner">
                <hr>
                <h2 > New announcement </h2>
                <p> Fill out the form if you have found or lost a pet.</p>
                <hr>
            </div>

            <!--form - позволит отправить анкету на -->
    <form name="create_add" id="create_add" action="create.html" method="POST">
        {% csrf_token %}
        <br><br><br>
        <div class="box">
            <!--label нужно для связывания вопроса и ответа-->

                <h3>1. I</h3>
                <select class="form-select" required="" name="type">
                    <option value="">Choose type...</option>
                    <option>Lost</option>
                    <option>Found</option>
                </select>


                <h3>2. A:</h3>
                <select class="form-select" required="" id="select" name="name">
                    <option value="">Choose animal...</option>
                    <option>Cat</option>
                    <option>Dog</option>
                    <option>Hamster</option>
                    <option>Mouse</option>
                    <option>Rabbit</option>
                    <option>Tortoise</option>
                    <option>Snake</option>
                </select>

                <h3>3. Gender of the animal:</h3>
                <div class="gender" required="">
                    <label>
                        <input type="radio" name="sex_male">
                        <span class = "male" style="">♂</span>
                    </label>
                    <label>
                        <input type="radio" name="sex_female">
                        <span class="female">♀</span>
                    </label>
                </div>

                <h3>4. Add a photo of the animal:</h3>
                <div class="avatar-upload">
                    <div class="avatar-edit">
                        <input name='photo_id' type='file' id="imageUpload" accept=".png, .jpg, .jpeg" />
                        <label for="imageUpload">➕</label>
                    </div>
                    <div class="avatar-preview">
                        <div id="imagePreview" style="background-image: url(images/pet.png);width: 100%;
                        height: 100%;
                        border-radius: 100%;
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: center;">

                        </div>
                    </div>
                </div>
                <script language="javascript">
                                    function readURL(input) {
                    if (input.files && input.files[0]) {
                        var reader = new FileReader();
                        reader.onload = function(e) {
                            $('#imagePreview').css('background-image', 'url('+e.target.result +')');
                            $('#imagePreview').hide();
                            $('#imagePreview').fadeIn(650);
                        }
                        reader.readAsDataURL(input.files[0]);
                    }
                }
                $("#imageUpload").change(function() {
                    readURL(this);
                    // save file on server
                    // return path to file on server
                });
                </script>

                   <!-- <img src="/images/pet.png" id="photo" alt="Profile photo">-->
                    <!--<input type="file" name="load_file" size="32" maxlength="64" />-->
                    <!--<label for="profile_file" id="upload">Choose Photo</label>-->
                <!--</div>-->

                <h3>5. Number of paws:</h3>
                <div class="input-num">
                    <input type="number" name="paws_number" id="numpaws" min="0" max="100" step="1">
                </div>

<!--                <h3>5. Number of eyes:</h3>-->
<!--                <div class="input-num">-->
<!--                    <input type="number" name="amount" id="numeyes" min="0" max="100" step="1">-->
<!--                </div>-->

                <h3>6. Number of ears:</h3>
                <div class="input-num">
                    <input type="number" name="ears_number" id="numears" min="0" max="100" step="1">
                </div>

                <h3>7. Does the animal have a tail?</h3>
                <div class="gender" required="">
                    <label>
                        <input type="radio" name="has_tail_yes">
                        <span class = "male" style="font-weight: normal;">Yes</span>
                    </label>
                    <label>
                        <input type="radio" name="has_tail_no">
                        <span class="female"style="font-weight: normal;">No</span>
                    </label>
                </div>

                <h3>8. Distinctive features:</h3>
                <div class="features">
                    <textarea name='description' placeholder="Features of the animal..." rows="3"></textarea>
                </div>

                <h3>9. Date and time lost/finding of animal:</h3>
                <div class="input-num">
                    <input name='last_seen_timestamp' type="date">
                </div>


                <!--<h3>10. Color of animal:</h3>
                <div class="coloranumal">
                    <input type="checkbox" name="color" value="white"/> white<br />
                    <input type="checkbox" name="color" value="black"/> black<br />
                    <input type="checkbox" name="color" value="green"/> green<br />
                    <input type="checkbox" name="color" value="brown"/> brown<br />
                    <input type="checkbox" name="color" value="redhead"/> redhead<br />
                    <input type="checkbox" name="color" value="yellow"/> yellow<br />
                    <input type="checkbox" name="color" value="grey"/> grey<br />

                </div>-->

                <div class="sendAnnouncement">
                    <input type="submit" value="Send announcement">
                </div>

                <!--<button onclick="myFunction()" name="button" style="margin-bottom: 60px;"  >Add color...</button>

                <script>
                    function myFunction() {
                        var x = document.createElement("INPUT");
                        x.setAttribute("type", "color");
                        document.body.appendChild(x);

                    }
                </script>-->


            </div>
        </form>
        </div>
    </div>
</div>

{% include "_includes/footer.html" %}