{%  load static %}

{% include "_includes/header.html" %}

	<div id="header">
        <span>User account</span>
        {% include "_includes/logout.html" %}
    </div>


<div class="container">
    <div class="row">

        {% include "_includes/user_panel.html" %}

        <div class="form-inner">
        <hr>
        <h2 > New announcement </h2>
        <p> Fill out the form if you have found or lost a pet.</p>
        <hr>
        </div>

            <!--form - позволит отправить анкету на -->
    <form name="create_add" id="create_add" action="create.html" method="POST">
        {% csrf_token %}
        <br><br><br>
        <div class="box">
            <!--label нужно для связывания вопроса и ответа-->

                <h3>1. I ...(lost/found):</h3>
                <select class="form-select" name="type" required>
                    <option value="">Choose type...</option>
                    <option>Lost</option>
                    <option>Found</option>
                </select>

                <h3>2. A ...(kind of animal):</h3>
                <select class="form-select" name="name" required>
                    <option value="">Choose animal...</option>
                    <option>Cat</option>
                    <option>Dog</option>
                    <option>Hamster</option>
                    <option>Mouse</option>
                    <option>Rabbit</option>
                    <option>Tortoise</option>
                    <option>Snake</option>
                    <option>Parrot</option>
                    <option>Chinchilla</option>
                    <option>Guinea pig</option>
                    <option>Rat</option>
                    <option>Raccoon</option>
                    <option>Hedgehog</option>
                    <option>Monkey</option>
                </select>

                <h3>3. Gender of the animal:</h3>
                <select class="form-select" name="sex" required>
                    <option value="">Choose gender...</option>
                    <option>Male</option>
                    <option>Female</option>
                </select>

                <h3>4. Add a photo of the animal:</h3>
                <div class="avatar-upload">
                    <div class="avatar-edit">
                        <input name='photo_id' type='file' id="imageUpload" accept=".png, .jpg, .jpeg" />
                        <label for="imageUpload">➕</label>
                    </div>
                    <div class="avatar-preview">
                        <div id="imagePreview" style="background-image: url(../../static/images/pet.png);width: 100%;
                        height: 100%;
                        border-radius: 100%;
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: center;">

                        </div>
                    </div>
                </div>
                <script language="javascript">
                                    function readURL(input) {
                    if (input.files && input.files[0]) {
                        var reader = new FileReader();
                        reader.onload = function(e) {
                            $('#imagePreview').css('background-image', 'url('+e.target.result +')');
                            $('#imagePreview').hide();
                            $('#imagePreview').fadeIn(650);
                        }
                        reader.readAsDataURL(input.files[0]);
                    }
                }
                $("#imageUpload").change(function() {
                    readURL(this);
                    // save file on server
                    // return path to file on server
                });
                </script>

                   <!-- <img src="/images/pet.png" id="photo" alt="Profile photo">-->
                    <!--<input type="file" name="load_file" size="32" maxlength="64" />-->
                    <!--<label for="profile_file" id="upload">Choose Photo</label>-->
                <!--</div>-->

                <h3>5. Number of paws:</h3>
                <div class="input-num">
                    <input type="number" name="paws_number" id="numpaws" min="0" max="100" step="1" required>
                </div>

<!--                <h3>5. Number of eyes:</h3>-->
<!--                <div class="input-num">-->
<!--                    <input type="number" name="amount" id="numeyes" min="0" max="100" step="1">-->
<!--                </div>-->

                <h3>6. Number of ears:</h3>
                <div class="input-num">
                    <input type="number" name="ears_number" id="numears" min="0" max="100" step="1" required>
                </div>

                <h3>7. Does the animal have a tail?</h3>
                <select class="form-select" name="has_tail" required>
                    <option value="">Choose option...</option>
                    <option>Yes</option>
                    <option>No</option>
                </select>

                <h3>8. Distinctive features:</h3>
                <div class="features">
                    <textarea name='description' placeholder="Features of the animal..." rows="3"></textarea>
                </div>

                <h3>9. Date and time lost/finding of animal:</h3>
                <div class="input-num">
                    <input name='last_seen_timestamp' type="date" required>
                </div>


                <!--<h3>10. Color of animal:</h3>
                <div class="coloranumal">
                    <input type="checkbox" name="color" value="white"/> white<br />
                    <input type="checkbox" name="color" value="black"/> black<br />
                    <input type="checkbox" name="color" value="green"/> green<br />
                    <input type="checkbox" name="color" value="brown"/> brown<br />
                    <input type="checkbox" name="color" value="redhead"/> redhead<br />
                    <input type="checkbox" name="color" value="yellow"/> yellow<br />
                    <input type="checkbox" name="color" value="grey"/> grey<br />

                </div>-->

                <h3>10. Mark the place on the map where you lost/found a pet:</h3>

                <div id="map" style="width:88%;height:500px;margin-left:35px;"></div>
                     <div class="input-num" style="margin-top:10px;margin-left:50px;">
                        <input type="number" name="last_seen_point_lat" id="latitude" >
                        <input type="number" name="last_seen_point_lng" id="longitude">
                    </div>

                    <script src="../../static/js/map.js"></script>
                    <!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDR8P72HMX3zllKeeZt8X89dJWMEu0LSX8&callback=myMap"></script>-->
                    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDcaQCW9aWwn01HP5nVi0L7-5w6aaO8V0g&callback=initMap&libraries=drawing&v=weekly" async></script>

                <div class="sendAnnouncement">
                    <input type="submit" value="Send announcement">
                </div>

                <!--<button onclick="myFunction()" name="button" style="margin-bottom: 60px;"  >Add color...</button>

                <script>
                    function myFunction() {
                        var x = document.createElement("INPUT");
                        x.setAttribute("type", "color");
                        document.body.appendChild(x);

                    }
                </script>-->

               


        </div>
    </form>
        <div class="cell side-panel" id="announcements">
            <h2>Announcements will be there</h2>
        </div>
    </div>
</div>



{% include "_includes/footer.html" %}