{%  load static %}

{% include "_includes/header.html" %}

	<div id="header">
        <span>Admin login</span>
    </div>

	<div class="login-container" id="login-container" style="display: block">
		<div class="text-login">Login</div>
			<form name="login_form" id="login_form" method="post" action="/admin">

				{% csrf_token %}

				<div class="data">
					<label>Login</label>
					<input name="login" id="login" type="text" required>
				</div>
				<div class="data">
					<label>Password</label>
					<input name="password" id="password" type="password" required>
				</div>
				{% if user_not_exists %}
					<div class="error" id="login-error" style="display: block">
						Wrong login or password
					</div>
				{% endif %}
				<div class="login-reg-button">
					<div class="inner"></div>
					<button name="login_button" id="login_button" type="submit">Login</button>
				</div>
			</form>
	</div>

{% include "_includes/footer.html" %}