{%  load static %}
{% load sri %}

{% include "_includes/header.html" %}

	<div id="header">
        {% if users_list %}
            <span>Manage users</span>
        {% else %}
            <span>Manage announcements</span>
        {% endif %}

        {% include "_includes/logout.html" %}
    </div>
<div class="container">
    <div class="row">
        <div class="cell" id="page-content">
            <div class="my_button" onclick="location.href='/admin/account';">
                <p><i class="arrow left"></i> Go Back </p>
            </div>
            {% if users_list %}
                <table border="1" cellpadding="7" cellspacing="0">
                    <thead style="background: #c79e9e; align-content: center; font-weight: bold; color: white; font-size: larger">
                        <tr>
                            <td> Login </td>
                            <td> Email </td>
                            <td> Password </td>
                            <td> Is user blocked </td>
                            <td> Is account activated </td>
                            <td> Block user </td>
                            <td> Unblock user </td>
                            <td> Delete user </td>
                        </tr>
                    </thead>

                    <tbody style="background: white;">
                        {% for user in users %}
                        <tr id="user-{{ user.username }}">
                            <td>{{ user.username }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.password }}</td>
                            <td>{% if user.is_blocked %}Yes{% else %}No{% endif%}</td>
                            <td>{% if user.is_active %}Yes{% else %}No{% endif%}</td>
                            <td style="background-color: #e279c6;" align="center">
                                <form name="form" id="user-block-form" method="post" action="/admin/account/users">
                                        {% csrf_token %}
                                        <input name="form_type" id="form_type" type="hidden" value="users"/>
                                        <input name="action" id="action" type="hidden" value="block"/>
                                        <input name="user_login" id="user_login" type="hidden" value="{{ user.username }}"/>
                                        <button type="submit" class="action_button" style="color: white;">Block</button>
                                </form>
                            </td>
                            <td style="background-color: #71ccd7;" align="center">
                                <form name="form" id="user-unblock-form" method="post" action="/admin/account/users">
                                        {% csrf_token %}
                                        <input name="form_type" id="form_type" type="hidden" value="users"/>
                                        <input name="action" id="action" type="hidden" value="unblock"/>
                                        <input name="user_login" id="user_login" type="hidden" value="{{ user.username }}"/>
                                        <button type="submit" class="action_button" style="color: white;">Unblock</button>
                                </form>
                            </td>
                            <td style="background-color: #e279c6;" align="center">
                                <div class="delete">
                                    <form name="form" id="user-delete-form" method="post" action="/admin/account/users">
                                        {% csrf_token %}
                                        <input name="form_type" id="form_type" type="hidden" value="users"/>
                                        <input name="action" id="action" type="hidden" value="delete"/>
                                        <input name="user_login" id="user_login" type="hidden" value="{{ user.username }}"/>
                                        <button type="submit" class="delete_button"></button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="grid_container">
                    {% for ann in announcements %}
                        <div class="ann_small_container" id="ann-{{ ann.id }}">
                            <div class="row">
                                <div class="cell" style="width: 30%; vertical-align: middle; padding: 5px" id="ann-photo-{{ ann.id }}">
<!--                                    TODO: Change this image to appropriate image from announcement-->
                                    <img src="{% static 'images/pet.png'%}" style="width: 100%; height: 100%; transform: scale(0.8);">
                                </div>
                                <div class="cell" style="width: 65%" id="ann-descr-{{ ann.id }}">
                                    <div class="ann_header">
                                        {{ ann.name }} {% if ann.type == 'F' %}found{% else %}lost{% endif %}!<br/><br/>
                                    </div>
                                    {% if ann.description %}<b>Distinctive features:</b> <i>{{ ann.description }}</i> <br/><br/>{% endif %}
                                    <b>Last seen:</b> <i>{{ ann.last_seen_timestamp }}</i>
                                </div>
                                <div class="cell" style="vertical-align: middle; width: 5%" id="ann-delete-{{ ann.id }}">
                                    <div class="delete">
                                        <form name="form" id="ann-delete-form" method="post" action="/admin/account/announcements">
                                            {% csrf_token %}
                                            <input name="form_type" id="form_type" type="hidden" value="announcements"/>
                                            <input name="action" id="action" type="hidden" value="delete"/>
                                            <input name="ann_id" id="ann_id" type="hidden" value="{{ ann.id }}"/>
                                            <button type="submit" class="delete_button"></button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
</div>

{% include "_includes/footer.html" %}