{%  load static %}

{% include "_includes/header.html" %}

	<div id="header">
        {% if users_list %}
            <span>Manage users</span>
        {% else %}
            <span>Manage announcements</span>
        {% endif %}

        {% include "_includes/logout.html" %}
    </div>
<div class="container">
    <div class="row">
        <div class="cell" id="page-content">
            <div class="my_button" onclick="location.href='/admin/account';">
                <p><i class="arrow left"></i> Go Back </p>
            </div>
            {% if users_list %}
                <table border="1" cellpadding="7" cellspacing="0">
                    <thead style="background: #c79e9e; align-content: center; font-weight: bold; color: white; font-size: larger">
                        <tr>
                            <td> Login </td>
                            <td> Email </td>
                            <td> Password </td>
                            <td> Is user blocked </td>
                            <td> Block user </td>
                            <td> Unblock user </td>
                            <td> Reset user's password </td>
                            <td> Delete user </td>
                        </tr>
                    </thead>

                    <tbody style="background: white;">
                        {% for user in users %}
                        <tr id="user-{{ user.login }}">
                            <td>{{ user.login }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.password }}</td>
                            <td>{% if user.is_blocked %}Yes{% else %}No{% endif%}</td>
                            <td style="background-color: #e279c6;" align="center">
                                <form name="form" id="user-block-form" method="post" action="/admin/account/users">
                                        {% csrf_token %}
                                        <input name="form_type" id="form_type" type="hidden" value="users"/>
                                        <input name="action" id="action" type="hidden" value="block"/>
                                        <input name="user_login" id="user_login" type="hidden" value="{{ user.login }}"/>
                                        <button type="submit" class="action_button" style="color: white;">Block</button>
                                </form>
                            </td>
                            <td style="background-color: #71ccd7;" align="center">
                                <form name="form" id="user-unblock-form" method="post" action="/admin/account/users">
                                        {% csrf_token %}
                                        <input name="form_type" id="form_type" type="hidden" value="users"/>
                                        <input name="action" id="action" type="hidden" value="unblock"/>
                                        <input name="user_login" id="user_login" type="hidden" value="{{ user.login }}"/>
                                        <button type="submit" class="action_button" style="color: white;">Unblock</button>
                                </form>
                            </td>
                            <td style="background-color: #e279c6;" align="center">
                                <form name="form" id="pass-reset-form" method="post" action="/admin/account/users">
                                        {% csrf_token %}
                                        <input name="form_type" id="form_type" type="hidden" value="users"/>
                                        <input name="action" id="action" type="hidden" value="reset"/>
                                        <input name="user_login" id="user_login" type="hidden" value="{{ user.login }}"/>
                                        <button type="submit" class="action_button" style="color: white;">Reset password</button>
                                </form>
                            </td>
                            <td style="background-color: #71ccd7;" align="center">
                                <div class="delete">
                                    <form name="form" id="user-delete-form" method="post" action="/admin/account/users">
                                        {% csrf_token %}
                                        <input name="form_type" id="form_type" type="hidden" value="users"/>
                                        <input name="action" id="action" type="hidden" value="delete"/>
                                        <input name="user_login" id="user_login" type="hidden" value="{{ user.login }}"/>
                                        <button type="submit" class="delete_button"></button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                {% for ann in announcements %}
                    <br>
                    <div class="ann_small_container" id="ann-{{ ann.id }}">
                        <div class="row">
                            <div class="cell" id="ann-photo-{{ ann.id }}">
                                There will be photo
                            </div>
                            <div class="cell" id="ann-descr-{{ ann.id }}">
                                {{ ann.id }}
                            </div>
                            <div class="cell" id="ann-delete-{{ ann.id }}">
                                <div class="delete">
                                    <form name="form" id="ann-delete-form" method="post" action="/admin/account/users">
                                        {% csrf_token %}
                                        <input name="form_type" id="form_type" type="hidden" value="announcements"/>
                                        <input name="action" id="action" type="hidden" value="delete"/>
                                        <input name="ann_id" id="ann_id" type="hidden" value="{{ ann.id }}"/>
                                        <button type="submit" class="delete_button"></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>

{% include "_includes/footer.html" %}