{% load static %}
{% load sri %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Miss my pet</title>
        {% sri_static "css/styles.css" %}
        {% sri_static "css/user_account.css" %}
        <link type="image/x-icon" rel="shortcut icon" href="../../static/images/pet.png">

        {% if 'admin' in request.path %}
            {% sri_static "css/admin.css" %}
        {% endif %}

        {% if 'create' in request.path %}
            {% sri_static "css/create.css" %}
            <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
        {% endif %}

        {% if 'announcements' in request.path %}
            {% sri_static "css/admin.css" %}
            {% sri_static "css/announcements.css" %}
        {% endif %}

        {% if 'map' in request.path %}
            <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
        {% endif %}

        {% if 'animals_map' in request.path %}
            <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
            {% sri_static "css/announcements.css" %}
        {% endif %}


    </head>

    <body>
