<div class="cell side-panel" id="user-actions">
    <a style="text-decoration: none" href="{% url 'account' %}"><h2>Profile page</h2></a>
    <a style="text-decoration: none" href="{% url 'create' %}"><h2>Create announcement</h2></a>
    <a style="text-decoration: none" href="{% url 'user_announcements' %}"><h2>View all announcements</h2></a>
    <a style="text-decoration: none" href="{% url 'animals_map' %}"><h2>Map with animals</h2></a>
    <a style="text-decoration: none" href=""><h2>Choose animal for tracking</h2></a>
    <a style="text-decoration: none" href=""><h2>View search process</h2></a>
</div>