<div class="cell side-panel" id="user-actions">
    <!-- TODO: Set appropriate hyperlinks for pages -->
    <a style="text-decoration: none" href=""><h2>Profile page</h2></a>
    <a style="text-decoration: none" href="{% url 'create' %}"><h2>Create announcement</h2></a>
    <a style="text-decoration: none" href=""><h2>Mark off movements</h2></a>
    <a style="text-decoration: none" href=""><h2>Choose animal for tracking</h2></a>
    <a style="text-decoration: none" href=""><h2>View search process</h2></a>
</div>