	/* ----------------- PAGE STRUCTURE ----------------- */

    .container {
        background: #f1f1f1;
        display:table;
        height:100%;
        width: 100%;
		transform: translateY(+75px);
        box-sizing: border-box;
		border-collapse: collapse;
		border-spacing: 0;
		margin: 0 auto;
	}

    .row {
        height: auto;
        display: table-row;
	}

    .row .cell {
        display: table-cell;
        float: none;
        vertical-align: top;
	}

	.cell {
		padding: 30px;
	}

	/* ----------------- LOGIN ----------------- */

	form .data label {
		font-size: 18px;
	}

	form .data input {
		height: 100%;
		width: 100%;
		padding-left: 10px;
		font-size: 17px;
		border: 1px solid silver;
	}

	form .data input:focus{
		border-color: #3498db;
		border-bottom-width: 2px;
	}

	.login-reg-button {
		margin: 30px 0;
		height: 45px;
		width: 100%;
		position: relative;
		overflow: hidden;
	}

	.login-reg-button .inner {
		height: 100%;
		width: 300%;
		position: absolute;
		left: -100%;
		z-index: -1;
		background: -webkit-linear-gradient(right, #71ccd7, #e279c6, #71ccd7, #e279c6);
		transition: all 0.4s;
	}

	.login-reg-button:hover .inner{
		left: 0;
	}

	.login-reg-button button {
		height: 100%;
		width: 100%;
		background: none;
		border: none;
		color: #fff;
		font-size: 18px;
		font-weight: 500;
		text-transform: uppercase;
		letter-spacing: 1px;
		cursor: pointer;
	}

	form .error {
		text-align: right;
		color: #ff0017;
		display: none;
	}

	/* ----------------- ACCOUNT BUTTONS ----------------- */

	.account-container {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: block;
		background: #fff;
		width: auto;
		padding: 30px;
		box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
	}

	.account-button {
		margin: 50px 0;
		height: auto;
		width: 100%;
		position: relative;
		overflow: hidden;
	}

	.account-button .inner {
		height: 100%;
		width: 300%;
		position: absolute;
		left: -100%;
		z-index: -1;
		background: -webkit-linear-gradient(right, #71ccd7, #e279c6, #71ccd7, #e279c6);
		transition: all 0.4s;
	}

	.account-button:hover .inner{
		left: 0;
	}

	.account-button button {
		padding: 50px;
		height: 100%;
		width: 100%;
		background: none;
		border: none;
		color: #fff;
		font-size: xxx-large;
		font-weight: 500;
		text-transform: uppercase;
		letter-spacing: 1px;
		cursor: pointer;
	}

	/* ----------------- BEAUTIFUL DELETE BUTTON ----------------- */

	.delete {
        width: 32px;
        height: 32px;
		cursor: pointer;
    }

    button.delete_button {
        width: 32px;
        height: 32px;
        background-image: url(../images/trash.png);
        background-color: transparent;
        display: table-cell;
        background-size: 32px 32px;
        background-position: center;
        padding: 0;
        border: 0;
    }

    button.delete_button:hover {
        background-image: url(../images/trash-hover.png);
		cursor: pointer;
    }

	/* ----------------- OTHER NON-BEAUTIFUL BUTTONS ----------------- */

	.action_button {
		font-weight: bold;
        display: table-cell;
        background-position: center;
        background-color: transparent;
        padding: 0;
        border: 0;
		cursor: pointer;
		font-family: "Luminari", Times, serif;
    }

	/* ----------------- GO BACK ARROW ----------------- */

	.arrow {
		border: solid black;
		border-width: 0 3px 3px 0;
		display: inline-block;
		padding: 3px;
	}
	.left {
		transform: rotate(135deg);
		-webkit-transform: rotate(135deg);
	}

	/* ----------------- SMALL ANNOUNCEMENTS ----------------- */

	.ann_small_container {
        background: #c79e9e;
        display:table;
        height: auto;
        width: 500px;
        box-sizing: border-box;
		border-collapse: collapse;
		border-spacing: 0;
		/*margin: 0 auto;*/ /* This places object in center*/
		overflow: hidden;
		border-radius: 5%;
	}

	.grid_container {
		display: grid;
		grid-gap: 20px;
		grid-template-columns: repeat(3, 1fr);
	}

	.ann_header {
		font-weight: bold;
		font-size: x-large;
		text-align: center;
	}