    /* ----------------- COMMON ----------------- */

	* {box-sizing: border-box;}

	html {
		height:100%;
	}

	body {
		height:100%;
		background: #f1f1f1;
		font-family: "Luminari", Times, serif;
	}

	#header {
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		background: #ffcccc;
		padding: 10px;
		height:75px;
		z-index:10;
	}

	footer {
		position: fixed;
		left: 0;
		bottom: 0;
		padding: 10px;
		background: #ffcccc;
		color: #fff;
		width: 100%;
		text-align: right;
		font-weight: bold;
		font-size: 15px;
   }

    span {
		color: white;
		margin-left: 25px;
		font-size: 3em;
		font-weight: bold;
	}

    h2 {
		color: white;
		font-weight: bold;
	}

	.my_button {
		cursor: pointer;
	}