    /* ----------------- COMMON ----------------- */

	header {
		background: #ffcccc;
		padding: 15px;
	}

    span {
		color: white;
		margin-left: 25px;
		font-size: 3em;
		font-weight: bold;
	}

    h2 {
		color: white;
		font-weight: bold;
	}

	* {box-sizing: border-box;}

	html { overflow: auto; }
	body {
		height:100%;
		background: #f1f1f1;
		font-family: "Luminari", Times, serif;
		margin: 0;
		overflow: auto;
	}

	.my_button {
		cursor: pointer;
	}


    /* ----------------- ANNOUNCEMENTS ----------------- */

	.announcements {
        background: #c79e9e;
        width: 400px;
        padding: 30px;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
        position: absolute;
        right: 0;
		bottom: 0;
        height: 100%;
    }
